/* tstab css start */
.tstab-tabs,
.tstab-tabs > ul,
.tstab-tabs > ul > li,
.tstab-tabs > ul > li > a,
.tstab-tabs > .tstab-container,
.tstab-tabs > .tstab-container > .tstab-content,
.tstab-tabs > .tstab-container > .tstab-content > .tstab-content-inner {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.tstab-tabs,
.tstab-tabs:before,
.tstab-tabs:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.tstab-tabs,
.tstab-tabs > ul,
.tstab-tabs > ul > li,
.tstab-tabs > ul > li > a {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	outline: 0 none;
	text-decoration: none;
	list-style: none;
	list-style-type: none;
}
.tstab-tabs > .tstab-container > .tstab-content::after,
.tstab-tabs > .tstab-container > .tstab-content > .tstab-content-inner::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.tstab-tabs > .tstab-container > .tstab-content,
.tstab-tabs > .tstab-container > .tstab-content > .tstab-content-inner {
	zoom: 1;
}
.tstab-tabs {
	clear: both;
	color: #333;
	font: 14px/20px "open sans";
}
.tstab-tabs > ul > li > a {
	color: #111;
	line-height: 18px;
	font-weight: inherit;
	font-size: 12px;
	padding: 13px 24px;
	background: #fff;
	cursor: pointer;
}
.tstab-tabs > ul > li.tstab-active > a {
	cursor: default;
}
.tstab-tabs > ul,
.tstab-tabs > ul > li > a,
.tstab-tabs > .tstab-container {
	border-color: #CECECE;
	border-style: solid;
}
.tstab-tabs > .tstab-container {
	padding: 0;
	margin: 0;
	border-width: 1px;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.tstab-tabs > .tstab-container > .tstab-content {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	z-index: 7;
	display: none;
}
.tstab-tabs > .tstab-container > .tstab-content.tstab-active {
	z-index: 8;
	position: relative;
	display: block;
}
.tstab-tabs > .tstab-container > .tstab-content > .tstab-content-inner {
	padding: 18px 24px;
	height: auto;
}
.tstab-tabs > ul > li > a i {
	font-size: 1.125em;
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	width: 24px;
	display: inline-block;
	margin-top: 0.015em;
}
.tstab-tabs.vertical.top-left > ul {
	margin-left: 0;
	margin-right: -1px;
}
.tstab-tabs.vertical > ul {
	float: left;
	border-width: 1px 0 1px 1px;
	min-width: 200px;
	width: 25%;
}
.tstab-tabs.vertical > ul > li > a {
	border-width: 0 0 1px 0;
}
.tstab-tabs.vertical > ul > li.tstab-last > a {
	border-bottom-width: 0;
}
.tstab-tabs.vertical > ul > li.tstab-active > a {
	border-right-width: 0;
	z-index: 10;
}
.tstab-tabs.vertical > ul > li.tstab-active.tstab-first > a {
	border-bottom-width: 1px;
}
.tstab-tabs.vertical.tstab-shadows > ul,
.tstab-tabs.vertical.tstab-shadows > .tstab-container {
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
}
.tstab-tabs.vertical.tstab-shadows > ul > li > a {
	-webkit-box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
}
.tstab-tabs.silver > ul,
.tstab-tabs.silver > ul > li > a,
.tstab-tabs.silver > .tstab-container {
	border-color: #CECECE;
	border-style: solid;
}
.tstab-tabs.silver > ul > li > a {
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FDFCFC', endColorstr='#FBF9F9');
	background-color: #F2F0F0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFCFC), to(#F2F0F0), color-stop(0.5, #FBF9F9), color-stop(0.5, #F7F5F6));
	background-image: -webkit-linear-gradient(top, #FDFCFC, #FBF9F9 50%, #F7F5F6 50%, #F2F0F0);
	background-image: -moz-linear-gradient(top, #FDFCFC, #FBF9F9 50%, #F7F5F6 50%, #F2F0F0);
	background-image: -o-linear-gradient(top, #FDFCFC, #FBF9F9 50%, #F7F5F6 50%, #F2F0F0);
	background-image: -ms-linear-gradient(top, #FDFCFC, #FBF9F9 50%, #F7F5F6 50%, #F2F0F0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tstab-tabs.silver > ul > li > a {
	color: #2ea2cc;
	text-shadow: 0 1px #eee;
}
.tstab-tabs.silver > ul > li > a:hover {
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #fbf9f9 50%, #f7f5f6 50%, #fcfcfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(50%, #fbf9f9), color-stop(50%, #f7f5f6), color-stop(100%, #fcfcfc));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #fbf9f9 50%, #f7f5f6 50%, #fcfcfc 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #fbf9f9 50%, #f7f5f6 50%, #fcfcfc 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #fbf9f9 50%, #f7f5f6 50%, #fcfcfc 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #fbf9f9 50%, #f7f5f6 50%, #fcfcfc 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#fbf9f9', GradientType=0);
}
.tstab-tabs.silver > ul > li.tstab-active > a {
	filter: none;
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.tstab-tabs.silver > ul > li.tstab-active > a {
	color: black;
	text-shadow: 0 1px #fff;
}
.tstab-tabs .tstab-tabs *,
.tstab-tabs ul,
.tstab-tabs ul li,
.tstab-tabs ul li a,
.tstab-tabs .tstab-container .tstab-content {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	outline: none;
}
/* tstab css end */

.ord_label{
	float: left;
	font-weight: bold;
	padding-left: 10px;
	width: 230px;
	cursor:text;
}

.days-fieldset{
	border: 1px solid #DCDBDA;
	float: left;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 0;
	width: 160px;
	padding-left:10px;
}

.booking_calender 
{
	margin-bottom:10px;
}

.time_slot 
{
	font-family:inherit;
}

.show_time_slot 
{
	margin-bottom:10px;
}

.day-checkbox{
 
}

/* classes for showing border around the delivery fields */
.prdd-delivery-form {
	border:1px solid #ddd;
	padding: 1em 1em;
	margin-bottom:10px;
}

/* Styling the availability message */

.show_stock_status{
    border-bottom: 1px #ddd solid;
    margin-bottom: 7px;
    padding: 3px;
}

/* for showing the calendar icon inside the delivery field on product page */
.prdd_start_date, .show_time_slot { 
	position: relative;
	width:50%;
}

.prdd_start_date input, .show_time_slot select { 
	background:#fff;
	display:block;
	width: 100% !important;
	box-sizing: border-box;
}
.prdd_start_date img { 
	grid-column: 2;
    grid-row: 2;
}

/* Fixes for Issue #548 & #549 */
.prdd_start_date, .show_time_slot { 
	width:auto;
}

.prdd_start_date label, .show_time_slot label {
	float:left;
	margin-right: 5px;
}

.prdd_start_date input, .show_time_slot select {
	grid-column: 1 / 3;
    grid-row: 1 / 4;
    margin: unset;
}

.wrapper {
	display: grid;
    grid-template-columns: 1fr 10%;
    position:relative;
}
/* End fixes for Issue #548 & #549 */

/* Fixed for Issue #126 */
.delivery_date_label_container {
	width: 70%;
	position: relative;
}
/* End fixes for Issue #126 */