.delivery_date_label_container {
	width: 70%; 
	position: relative;
}

.prdd_required {
	color: red;
	font-weight: 800;
	border: none;
}

.delivery_cal_lite {
	cursor: pointer; 
	position: absolute; 
	top: 50%; 
	right: 5%;
}

.delivery_calender_lite {
	cursor: text;
	display: block;  
	margin-bottom: 20px; 
	width: 100%;
}
