/* Change the spacing, font weight and font to be same as woocommerce in the settings labels*/
.form-table th {
 padding: 0 0 12px 0;
 font-weight: normal;
 font-family: open sans;
 font-size: 13px;
 width:150px;
}
/* Change the spacing, font weight and font to be same as woocommerce in the settings text*/
.form-table td {
 padding: 0 0 12px 0;
 font-weight: normal;
 font-family: open sans;
 font-size: 13px;
}
